* {
	font-family: "Montserrat", sans-serif;
}

div.header{
	text-align: center;
	background-color: peachpuff;
	padding: 5px;
	margin-top: 20px;
	color: blue;
}
body {
	background-color: lightyellow;
	margin-left: 20px; 
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 800px;
}
h2 {
	background-color: peachpuff;
	padding: 5px;
	color: blue;
}
p{
	margin: -1px;
}
}
@media(min-width: 681px){
div.header{
	text-align: center;
	background-color: peachpuff;
	padding: 5px;
	margin-top: 20px;
	color: blue;
}
body {
	background-color: lightyellow;
	margin: auto; 
	max-width: 700px;
}
h2 {
	background-color: peachpuff;
	padding: 5px;
	color: blue;
}
p{
	margin: -1px;
}
}
